[submodule "Assignment3/OpenGL_Engine"]
	path = Assignment3/OpenGL_Engine
	url = https://github.com/Norged-Out/OpenGL_Engine.git
[submodule "Assignment2/OpenGL_Engine"]
	path = Assignment2/OpenGL_Engine
	url = https://github.com/Norged-Out/OpenGL_Engine.git
[submodule "Assignment4/OpenGL_Engine"]
	path = Assignment4/OpenGL_Engine
	url = https://github.com/Norged-Out/OpenGL_Engine.git
